# TASK 1
UNDERSTANDING PYTHON DATA TYPES

In [3]:
print("Hello World!")

Hello World!

# DATA TYPE IN PYTHON

In [4]:
## INTERGER
x=5
print(x)
print(type(x))

5
<class 'int'>

In [5]:
## STRING
x="DATA ANALYSIS WITH PYTHON"
print(x)
print(type(x))

DATA ANALYSIS WITH PYTHON
<class 'str'>

In [6]:
## COMPLEX
y=2+3j
print(y)
print(type(y))

(2+3j)
<class 'complex'>

In [7]:
## FLOAT
z=4.23
print(z)
print(type(z))

4.23
<class 'float'>

In [8]:
##BOOLEAN
i=True
print(i)
print(type(i))

True
<class 'bool'>

In [9]:
## BOOLEAN
j=False
print(j)
print(type(j))

False
<class 'bool'>

In [10]:
## CONVERT INTERGER TO STRING
x=str(7)
print(x)
print(type(x))

7
<class 'str'>

In [11]:
## CONVERT FLOAT TO INTEGER
x=float(6)
print(x)
print(type(x))

6.0
<class 'float'>

# LIST

The list is an mutuable,the data inside list can be altered even after their creation

Lists are used to store different items in a single variable

In [12]:
Fruits=["apple","banana","cherry","dragon","grapes","papaya"]
print(Fruits)
print(type(Fruits))

['apple', 'banana', 'cherry', 'dragon', 'grapes', 'papaya']
<class 'list'>

In [14]:
Fruits.append("mango")
Fruits

['apple', 'banana', 'cherry', 'dragon', 'grapes', 'papaya', 'mango']

In [15]:
Fruits.remove("cherry")
Fruits

['apple', 'banana', 'dragon', 'grapes', 'papaya', 'mango']

In [18]:
Fruits.insert(3,"watermelon")
Fruits

['apple', 'banana', 'dragon', 'watermelon', 'grapes', 'papaya', 'mango']

In [20]:
Fruits.pop()
Fruits

['apple', 'banana', 'dragon', 'watermelon', 'grapes', 'papaya']

In [23]:
Fruits.append("lemon")
Fruits

['apple', 'banana', 'dragon', 'watermelon', 'grapes', 'papaya', 'lemon']

In [26]:
Fruits.reverse()
print(Fruits)

['lemon', 'papaya', 'grapes', 'watermelon', 'dragon', 'banana', 'apple']

In [27]:
print(len(Fruits))

7

In [28]:
Fruits.sort()
Fruits

['apple', 'banana', 'dragon', 'grapes', 'lemon', 'papaya', 'watermelon']

In [29]:
Fruits.pop(4)
Fruits

['apple', 'banana', 'dragon', 'grapes', 'papaya', 'watermelon']

In [30]:
Fruits.clear()
Fruits

[]

In [31]:
del Fruits

In [39]:
items=["apple",52,2+3j,46.34,True,False]
print(items)
print(len(items))
print(type(items))

['apple', 52, (2+3j), 46.34, True, False]
6
<class 'list'>

In [40]:
items.count("apple")

1

In [43]:
#replace object inside list by using index number
items[0]="banana"
items

['banana', 52, (2+3j), 46.34, True, False]

In [44]:
## convert list to tuple
x=items
y=tuple(x)
print(y)
print(type(y))

('banana', 52, (2+3j), 46.34, True, False)
<class 'tuple'>

In [48]:
##to add more than one item we used the extend function
items.extend([98,23.41,"hey buddy"])
items

['banana',
 52,
 (2+3j),
 46.34,
 True,
 False,
 98,
 23.41,
 'hey buddy',
 98,
 23.41,
 'hey buddy']

# TUPLE

Tuples are used to stored multiple items in a single variable,
we cannot change the elements of tuple once its assigned

In [61]:
z=("This is first assignment",25)
print(z,type(z))

('This is first assignment', 25) <class 'tuple'>

In [49]:
a=("hello",[10,25,30],30.63,2+6j,("rehan","adeeb","nemath","irshad"),[True,False])
print(a)
print(type(a))

('hello', [10, 25, 30], 30.63, (2+6j), ('rehan', 'adeeb', 'nemath', 'irshad'), [True, False])
<class 'tuple'>

In [58]:
x=(10,20,30)
y=(40,50,60)
z=(70,80,90)

print(max(x))
print(min(y))
print(sum(x+y+z))

30
40
450

In [59]:
print(50 in y)

True

In [67]:
print(90 not in y)

True

In [74]:
print(100 in z)

False

In [75]:
t=("hello",25,60.03,5+23j,True)

In [81]:
## convert tuple to list
i=t
j=list(i)
print(j)
print(type(j))

['hello', 25, 60.03, (5+23j), True]
<class 'list'>

# DICTIONARY

In Dictionary we used data in key value pairs,it doesn't allow duplicates

In [103]:
inf={"Name":"Rehan","Id":2563,"Education":"B.E","year":2023}
print(inf)
print(type(inf))

{'Name': 'Rehan', 'Id': 2563, 'Education': 'B.E', 'year': 2023}
<class 'dict'>

In [104]:
print(len(inf))

4

In [105]:
inf["address"]="Telangana"
inf

{'Name': 'Rehan',
 'Id': 2563,
 'Education': 'B.E',
 'year': 2023,
 'address': 'Telangana'}

In [106]:
del inf['address']
inf

{'Name': 'Rehan', 'Id': 2563, 'Education': 'B.E', 'year': 2023}

In [107]:
inf.pop('year')
inf

{'Name': 'Rehan', 'Id': 2563, 'Education': 'B.E'}

In [108]:
inf["Grade"]="A"
inf

{'Name': 'Rehan', 'Id': 2563, 'Education': 'B.E', 'Grade': 'A'}

In [109]:
inf.update({"Id":100})
inf

{'Name': 'Rehan', 'Id': 100, 'Education': 'B.E', 'Grade': 'A'}

In [110]:
inf.keys()

dict_keys(['Name', 'Id', 'Education', 'Grade'])

In [111]:
inf.values()

dict_values(['Rehan', 100, 'B.E', 'A'])

In [112]:
print(inf['Name'])

Rehan

In [113]:
print(inf.get('Id'))

100

In [114]:
inf['university']="osmania"
inf

{'Name': 'Rehan',
 'Id': 100,
 'Education': 'B.E',
 'Grade': 'A',
 'university': 'osmania'}

In [115]:
inf["university"]="Osmania"
inf

{'Name': 'Rehan',
 'Id': 100,
 'Education': 'B.E',
 'Grade': 'A',
 'university': 'Osmania'}

In [116]:
print("university" in inf)

True

In [117]:
print(inf['university'])

Osmania

In [126]:
dt={"Month":["jan","feb","mar"],"items":("laptop","mobile","camera"),"Amount":1526435,"Fig":25+67j}
print(type(dt))
print(dt)

<class 'dict'>
{'Month': ['jan', 'feb', 'mar'], 'items': ('laptop', 'mobile', 'camera'), 'Amount': 1526435, 'Fig': (25+67j)}

In [133]:
##convert tuple to dict
x=dict(apple=251,banana=324,mango=560)
print(x)
print(type(x))

{'apple': 251, 'banana': 324, 'mango': 560}
<class 'dict'>

# SETS

In [134]:
a={"apple","ball","cat"}
print(a)
print(type(a))

{'cat', 'ball', 'apple'}
<class 'set'>

In [138]:
b={"dog","elephant","frog","giraffe"}
c=a.union(b)
print(c)

{'dog', 'cat', 'ball', 'frog', 'apple', 'giraffe', 'elephant'}

In [139]:
d={"frog","cat","peacock","tiger"}
print(c.intersection(d))

{'cat', 'frog'}

In [141]:
a.add(100)
print(a)

{'cat', 'ball', 100, 'apple'}

In [142]:
d.discard("tiger")
d

{'cat', 'frog', 'peacock'}

In [143]:
d.update(["lion","zebra"])
d

{'cat', 'frog', 'lion', 'peacock', 'zebra'}

In [144]:
d.pop()
d

{'frog', 'lion', 'peacock', 'zebra'}

In [145]:
d.remove("peacock")
d

{'frog', 'lion', 'zebra'}

In [147]:
x={60,20,40,50,30}
y={40,30,50}
print(y.issubset(x))

True

In [148]:
print(x.issuperset(y))

True